*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
 
  height: 50rem;
}
button{
 margin: 20px;
 background-image: radial-gradient(rgb(255, 255, 255), rgb(58, 199, 238));
 height: 50px;
 padding: 10px;
 font-size: 20px;

}
